@{
    ViewData["Title"] = "Menú Principal";
}

<h2>Menú Principal</h2>

<div class="d-flex flex-column align-items-start" role="group" aria-label="Menu">
    <a href="@Url.Action("CrearCliente", "Home")" class="btn btn-primary"> Clientes </a>
    <a href="@Url.Action("TipoDePan", "Home")" class="btn btn-warning">Tipos de Pan</a>
    <a href="@Url.Action("Categoria", "Home")" class="btn btn-primary">Categorias</a>
    <a href="@Url.Action("Producto", "Home")" class="btn btn-warning">Productos</a>
    <a href="@Url.Action("Venta", "Home")" class="btn btn-primary">Ventas</a>
    <a href="@Url.Action("MetodoPago", "Home")" class="btn btn-warning">Metodos de Pago</a>
    <a href="@Url.Action("PagoCliente", "Home")" class="btn btn-primary">Pago de Clientes</a>
    <a href="@Url.Action("DetalleVenta", "Home")" class="btn btn-warning">Detalle de Venta</a>
    <a href="@Url.Action("Inventario", "Home")" class="btn btn-primary">Inventarios</a>
    <a href="@Url.Action("Proveedor", "Home")" class="btn btn-warning">Proveedores</a>
</div>